@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #ee6e73;
  --primary-dark: #d3393f;
  --light: #e6e6e6;
  --dark: #111;
}

* {
  font-family: "Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
  width: 100%;
  height: 100%;
}

nav .brand-logo {
  width: max-content;
}

#add_product_form {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn,
.btn-flat {
  text-transform: none;
  font-family: "Spartan", sans-serif;
}

#view_products .row,
#view_products .row .col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  flex-direction: column;
}

table,
th,
td {
  border: 1px rgba(17, 17, 17, 0.5) dotted;
}

table td.description {
  max-width: 36rem;
  white-space: pre-wrap;
}

.search-bar {
  width: max-content;
  margin: auto;
}

.search-bar:not(:focus) input[type="search"] {
  color: var(--light);
}

.search-bar input[type="search"]:focus::placeholder {
  color: var(--dark);
}

#mobile_sidenav input[type="search"],
#mobile_sidenav input[type="search"]::placeholder {
  color: #444;
}

.sidenav-overlay {
  z-index: 3;
}

.sidenav {
  z-index: 4;
}

.sidenav .search-bar {
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  table td.description {
    max-width: 28rem;
    white-space: pre-wrap;
  }
  table,
  th,
  td {
    border: 1px rgba(17, 17, 17, 0.2) solid;
    border-radius: 0;
    text-align: left !important;
  }
}
