#signup_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 86vh;
}

#signup_content .title {
  text-align: center;
  font-weight: 600;
}

#signup_content form {
  margin-left: 0;
}

#signup_content .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 0;
  margin: 0;
}

#signup_content form .btn {
  margin-right: 1rem;
  font-family: "Spartan", sans-serif;
}

#signup_content form .login-link {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

#signup_content form .bottom-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
