#fullscreen_loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#fullscreen_loading .progress {
  width: 80px;
  background-color: var(--primary);
  margin: 0px;
  margin-bottom: 10px;
}
